<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <appSettings>
    <add key="CallbackEncoding" value="gb2312" />
    <add key="PID" value="" />
    <!--38D36593-->
    <add key="USERPIN" value="8165032658450175" />
    <add key="SN" value="033B132502000280" />
    <add key="KEY1" value="ET99408165123510KEY1" />
    <!--<add key="PID" value="D53B6C12" />
    <add key="USERPIN" value="4182348123489147" />
    <add key="SN" value="0B08916B0C000E21" />
    <add key="KEY1" value="ET99408165123501KEY1" />-->
    <add key="ServerIP" value="10.72.4.196" />
    <add key="StationIP" value="192.168.0.1" />
    <add key="ServerType" value="0" />
    <add key="StationID" value="200" />
    <add key="ServerNo" value="20001" />
    <add key="HasTwoServer" value="0" />
    <add key="IsMainServer" value="0" />
    <add key="RefreshInterval" value="30000" />
    <add key="FillUpdateRecord" value="1" />
    <add key="IsShowResult" value="1" />
    <add key="IsShowTrainClass" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="Oracle" providerName="System.Data.OracleClient" connectionString="Data Source=railexam;User ID=RailExamBao;Password=re;" />
    <add name="OracleCenter" providerName="System.Data.OracleClient" connectionString="Data Source=railexam;User ID=RailExamBao;Password=re;" />
    <add name="SQLServer" providerName="System.Data.SqlClient" connectionString="" />
    <add name="OracleTrain" providerName="System.Data.OracleClient" connectionString="" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="Oracle" />
  <system.web>
    <identity impersonate="true"  />
    <globalization requestEncoding="gb2312" responseEncoding="gb2312" />
    <compilation debug="true" defaultLanguage="c#">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=10.2.0.200, Culture=neutral, PublicKeyToken=89B483F429C47342" />
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />

        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>

    <httpHandlers>
      <add type="ComponentArt.Web.UI.CallbackHandler,ComponentArt.Web.UI" path="*.aspx" verb="*" />
    </httpHandlers>
    <httpRuntime maxRequestLength="2048000" />
    <!-- 
            设置 compilation debug="true" 将调试符号插入














            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。<compilation debug="true"/>
        -->
    <authentication mode="Forms" />
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，














            以标识传入的用户。<authentication mode="Windows"/> 
        -->
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页














            以代替错误堆栈跟踪。







			-->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="200" />
    <customErrors mode="Off" defaultRedirect="Common/Error.aspx">
      <error statusCode="403" redirect="Common/Error.aspx?error=您没有权限使用此功能。" />
      <error statusCode="404" redirect="Common/Error.aspx?error=您要访问的页面不存在。" />
    </customErrors>
    <pages styleSheetTheme="Default">
      <controls>
        <add tagPrefix="yyc" assembly="YYControls" namespace="YYControls" />
        <add tagPrefix="ComponentArt" assembly="ComponentArt.Web.UI" namespace="ComponentArt.Web.UI" />
      </controls>
    </pages>
  </system.web>

  <location allowOverride="true">
    <system.web>
      <trust level="Full" originUrl="" />
    </system.web>
    <system.webServer>
      <defaultDocument>
        <files>
          <remove value="iisstart.htm" />
          <remove value="index.htm" />
          <remove value="Default.asp" />
          <remove value="index.html" />
          <remove value="Default.htm" />
          <remove value="default.aspx" />
          <add value="LoginTeacher.aspx" />
        </files>
      </defaultDocument>
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="3000000000" />
                </requestFiltering>
            </security>
    </system.webServer>
  </location>

</configuration>