.Grid
{
	/*border: 1px solid #92C3F2;*/
	background-color: #FFFFFF;
	/*width: 99.99%;*/
	width:100%;
	border: 0;
}

.HeadingRow
{
    height:22px;
    /*background-color: #D3E8FD;*/
    background-image:url(Images/Grid/head.gif);
    background-repeat:repeat-x;
    /*line-height:22px;*/
    vertical-align:middle;
    text-align:center;
    border:0;
    padding:0;
}
.RowStyle
{
	background-color:#EFF3FB;
}

.AlternatingRowStyle
{
	background-color:White;	
}
.HeadingCell 
{
    height:100%;
    border: 1px solid #FFFFFF; 
    border-right-color: #92C3F2; 
    border-bottom-color: #92C3F2;
    padding:0;
    vertical-align:middle;
    text-align:center;
}

.HeadingCellText
{
	color: #2D61BA;
	font-family: 宋体; 
	font-size: 12px; 
	font-weight: bold;
	text-align:center;
    cursor:pointer;
    padding:2px;
}

.SelectorCell 
{
    background-image:url(Images/Grid/head.gif);
    background-repeat:repeat-x;
	border: 1px solid #FFFFFF; 
	border-right-color: #92C3F2; 
	border-bottom-color: #92C3F2; 
}

.DataRow 
{ 
    background-color: #FFFFFF;
    height:16px;
}

.DataCell
{
    padding:1px 2px 1px 2px;
    border-right: 1px solid #EAE9E1;
    border-bottom: 1px solid #EAE9E1;
    font-family: 宋体;
    font-size: 12px;
    text-align:right;
} 

.DataCellSmallHeight
{
    padding: 1px 2px 1px 2px;
    border-right: 1px solid #EAE9E1;
    border-bottom: 1px solid #EAE9E1;
    font-family: 宋体;
    font-size: 12px;
    text-align:right;
    height:16px;
} 

.DataRow td.FirstDataCell 
{ 
  padding-left: 2px; 
} 

.SelectedRow 
{ 
  background-color: #FFEEC2; 
}

.SelectedRow td.DataCell 
{ 
    padding:1px 2px 1px 2px;
	font-family: 宋体;
	font-size: 12px;
	border-bottom: 1px solid #4B4B6F; 
	border-top: 1px solid #4B4B6F; 
	border-right: 0px; 
}

.EditTextBox
{
}

.EditTextBoxRightAlign
{
	text-align: right;
}

.ScrollBar
{
	background-image: url(Images/Grid/Scroller/scroller_bg.gif); 
}

.ScrollGrip
{
	background-image: url(Images/Grid/Scroller/scroll_gripBg.gif); 
}

.ScrollPopup
{
    background-color: #FFF4D7;
    border: 1px solid #4B4B6F;
    border-top-color: #9495A2;
    border-left-color: #9495A2;
    width: 85px;
    height: 20px;
    font-family: 宋体;
    font-size: 12px;
    text-align: center;
}

.GridFooter
{
  cursor: default;
  padding: 5px;
  vertical-align: bottom;
}

.GridFooter a 
{
  color: Black;
  font-weight: bold;
}

.PagerText
{ 
  font-family: 宋体;
  font-size: 13px;
} 

.SliderPopup
{
    background-color: #FFF4D7;
    border: 1px solid #4B4B6F;
    border-top-color: #9495A2;
    border-left-color: #9495A2;
    width: 120px;
    height: 20px;
    font-family: 宋体;
    font-size: 12px;
    text-align: center;
}

.PagerInfo
{
    color: #2D61BA;
    font-family: 宋体;
    font-size: 12px;
    text-align: right;
}

.SilverRow 
{ 
  background-color: #DBDBDB;
  height:16px;
  cursor: default;
}

.SilverRow td.DataCell 
{ 
    padding:1px 2px 1px 2px;
    border-right: 1px solid #EAE9E1;
    border-bottom: 1px solid #EAE9E1;
    font-family: 宋体;
    font-size: 12px;
    text-align:right;
	/*color: blue;*/
} 

.RedRow 
{ 
  background-color: #FFC0C0;
  height:16px;
  cursor: default;
}

.RedRow td.DataCell 
{ 
    padding:1px 2px 1px 2px;
    border-right: 1px solid #EAE9E1;
    border-bottom: 1px solid #EAE9E1;
    font-family: 宋体;
    font-size: 12px;
    text-align:right;
	/*color: blue;*/
}

.YellowRow 
{ 
  background-color: #FFFF00;
  height:16px;
  cursor: default;
}

.YellowRow td.DataCell 
{ 
    padding:1px 2px 1px 2px;
    border-right: 1px solid #EAE9E1;
    border-bottom: 1px solid #EAE9E1;
    font-family: 宋体;
    font-size: 12px;
    text-align:right;
	/*color: blue;*/
}
table.gridview_m
{
border-collapse: collapse;
border:solid 1px #93c2f1;
width:98%;
font-size:10pt;
}
table.gridview_m td,th
{
border-collapse: collapse;
border:solid 1px #93c2f1;
font-size:10pt;
}
