.SiteMap
{
   font-family: 宋体;
   font-size: 12px;
   color:Gray;
   text-align:left;
}

.RootNode
{
  font-family: 宋体; 
  font-size: 12px;
   text-align:left;
}

.ParentNode
{
  font-family: 宋体; 
  font-size: 12px;
   text-align:left;
}

.LeafNode
{
  font-family: 宋体; 
  font-size: 12px;
   text-align:left;
}

.RootNode a
{ 
  color: black;
  text-decoration:none;
}

.RootNode a:hover
{ 
  color: red;
  text-decoration:none;
}

.ParentNode a
{ 
  color: black;
  text-decoration:none;
}

.ParentNode a:hover
{ 
  color: red;
  text-decoration:none;
}

.LeafNode a
{ 
  color: black;
  text-decoration:none;
}

.LeafNode a:hover
{ 
  color: red;
  text-decoration:none;
}
